*{
  font-family: 'Nunito Sans', sans-serif;
}
body{
  background-color: teal;
}
table{
  width: 1200px; 
  height: 1000px; 
  margin: auto;
}
.personal-details{
  width: 100px; 
  background-color: #1c2833;
  color: white; 
  padding: 20px;
  vertical-align: top;
}

.employment-details{
  width: 500px;
  background-color: white;
  vertical-align: top;
}

img{
  border-radius: 50%;
  ;
}


